<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wrgardnersoft.watchftc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LauncherActivity"
            android:label="@string/title_activity_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupActivity"
            android:label="@string/setup" >
        </activity>
        <activity
            android:name=".MyTeamActivity"
            android:label="@string/myTeam" >
        </activity>
        <activity
            android:name=".TeamsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/teams" >
        </activity>
        <activity
            android:name=".MatchesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/matches" >
        </activity>
        <activity
            android:name=".FtcRankingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/ftcRankings" >
        </activity>
        <activity
            android:name=".StatRankingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/statRankings" >
        </activity>

    </application>

</manifest>
